.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.menuRecetas-container{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#menuRecetas{
    min-height: 450px;
    width: 90%;
    border: 2px solid black;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    padding: 10px;
    background-image: url("../img/fondos/fondo2.jpg");
}

.card{
    width: 200px;
    height: 400px;
   overflow-y: hidden;
   margin-bottom: 20px;
   border: 1px solid black;
    img{
    width: 100%;
   }
 .agregarAFavoritos{
    margin-top: 10px;
    margin-left: 20%;
 }
}

.card:hover{
    overflow-y: scroll;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
 }

