#formNuevasRecetas{
    border: 2px solid black;
    padding: 20px;
    border-radius: 15px;
   margin: 20px;
   background-image: linear-gradient(to bottom right, $colo-primary,  $colo-secundary); 
   label{
    font-size: larger;
   }

}